.projectFull{
    width: 100%;
    min-height: auto;
    height: fit-content;
}

.carousel{
    min-height:700px
}

.imgstyle{
    width: -webkit-fill-available !important;
    height: auto;
    object-fit:fill;
}