.cardStyle:hover{
   /* border: 1px solid black; */
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   background-color: black;
   color: white;
  transition: background-color 3s;
}
.cardAlign{
  justify-content: space-between !important;
}

/* @media screen and (max-width: 886px) { */
@media screen and (max-width: 1280px) {
 .cardAlign{
  justify-content: space-around !important;
 }
}